@mixin box-size($width, $height) {
    width: $width;
    height: $height;
}
@mixin font ($size,$weight) {
    font-size: $size;
    font-weight: $weight;
}
@mixin text ($spacing,$transform) {
    letter-spacing: $spacing;
    text-transform: $transform;
}